@page "/jobs"

@using System.Text;
@using System.Text.Json;
@using BlazorDNAApp.Models;
@using System.Net.Http.Headers

<PageTitle>DNA Jobs</PageTitle>
@inject HttpClient Http

<button type="button" class="btn btn-primary" @onclick="GetJobs">Get Jobs</button>

<p>
    @jobs
</p>

@code {
    private string jobs;

    private async Task GetJobs()
    {
        
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", LoginResponseDTO.token);
        var response = await Http.GetAsync("https://gene.lacuna.cc/api/dna/jobs");
        var responseContent = await response.Content.ReadAsStringAsync();
        jobs = responseContent;
        this.StateHasChanged();
    }
}